!!! 5
%html(lang="en" itemscope itemtype="http://schema.org/Article")
  %head
    = render :partial => "header"

  %body
    %section.main
      %article
        %header
          %h1= @scope.title

          %h4
            Par
            = @scope.author
            - if @contents.account? "twitter"
              %a.icon-twitter-sign.color.alone(href="#{@contents.account "twitter"}")
            - if @contents.account? "gplus"
              %a.icon-google-plus-sign.color.alone(href="#{@contents.account "gplus"}?rel=author")
            , le
            = @scope.formated_date

          - if @scope.gravatar?
            %img{:src => @scope.gravatar, :alt => @scope.author}

        = content
